@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Code+Pro:wght@300&display=swap");

$interactive-background: rgb(121, 133, 131);
$interactive-background-hover:  rgb(221, 233, 231);
$settings-col-left-width: 250px;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Source Code Pro', monospace; 
}

h1{
  text-align: center;
}

h2{
  padding: 0;
  margin: 0 0 10px 0;
}

.input-wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .input-area, .meta-data{
    padding: 10px 20px;
    flex: 1;
    min-width: 400px;
  }

  .controls-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 0;

    #dropArea{
      width: 100%;
      height: 250px;
      background-color: $interactive-background;
      border: black dashed 3px;
      border-radius: 5px;
      background-image: url('../upload.svg');
      background-repeat: no-repeat;
      background-size: 100px;
      background-position: center;
    }

    #dropArea:hover{
      background-color: $interactive-background-hover;
      cursor: pointer;
    }

    #dropArea[dragging=true]{
      background-color: $interactive-background-hover;
    }
  }

  .meta-data{
    display: flex;
    flex-direction: row;
    
    .left-column{
      flex: 1;
      display: flex;
      flex-direction: column;

      #loadedImage{
        display: none;
        height: 256px;
        width: 256px;
      }

      #imageName{
        margin-bottom: 10px;
        font-size: 20px;
      }
    }

    .right-column{
      flex: 1;
      font-size: 20px;
      display: flex;
      flex-direction: column;
      padding: 5px;

      div{
        padding: 5px;
      }
    }
  }
}

.output-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  #code{
    font-size: 20px;
    border: 1px solid black;
    width: 70%;
    min-width: 750px;
    height: 500px;
    overflow: scroll;
    margin: 25px 0;
    padding: 10px;
    flex: 2;
  }

  .clipboard-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;

    #copied{
      align-self: center;
      opacity: 0.0;
      font-size: 20px;
      padding: 10px 0;
    }

    #btnClipboard{
      align-self: center;
      width: 75px;
      height: 75px;
      border: black dashed 3px;
      border-radius: 5px;
      background: url(../copy.svg);
      background-size: 50px 50px;
      background-position: center;
      background-color: $interactive-background;
      background-repeat: no-repeat;
      cursor: pointer;
    }

    #btnClipboard:hover{
      background-color: $interactive-background-hover;
    }
  }
  
  .preview-wrapper{
    flex: 1;
    display: flex;
    flex-direction: column;

    h2{
      align-self: center;
    }

    #previewImage{
      align-self: center;
      width: 256px;
      height: 256px;
      background-color: black;
    }
  }
}

.settings-wrapper{
  margin: auto;
  width: 95%;
  font-size: 20px;

  .invert{
    div{
      display: inline-block;
      width: $settings-col-left-width;
    }
  }

  .format{
    div{
      width: $settings-col-left-width;
      display: inline-block;
    }
  }

  .ascii{
    div{
      display: inline-block;
      width: $settings-col-left-width;
    }
  }
}