@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Code+Pro:wght@300&display=swap");

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Source Code Pro', monospace; 
}

h1{
  text-align: center;
}

h2{
  padding: 0;
  margin: 0 0 10px 0;
}

.input-wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .input-area, .meta-data{
    padding: 10px 20px;
    flex: 1;
    min-width: 400px;
  }

  .controls-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 0;

    #dragArea{
      width: 100%;
      height: 250px;
      background-color:rgb(121, 133, 131);
      border: black dashed 3px;
      border-radius: 5px;
      background-image: url('../upload.svg');
      background-repeat: no-repeat;
      background-size: 100px;
      background-position: center;
    }

    #dragArea:hover{
      background-color: rgb(221, 233, 231);
      cursor: pointer;
    }
  }

  .meta-data{
    display: flex;
    flex-direction: row;
    
    .left-column{
      flex: 1;
      display: flex;
      flex-direction: column;

      #loadedImage{
        display: none;
        height: 256px;
        width: 256px;
      }

      #imageName{
        margin-bottom: 10px;
        font-size: 20px;
      }
    }

    .right-column{
      flex: 1;
      font-size: 20px;
      display: flex;
      flex-direction: column;
      padding: 5px;

      div{
        padding: 5px;
      }
    }
  }
}

.output-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #code{
    font-size: 16px;
    border: 1px solid black;
    width: 95%;
    min-width: 750px;
    height: 500px;
    overflow: scroll;
    margin: 25px 0;
    padding: 10px;
  }

  #previewImage{
    width: 256px;
    height: 256px;
    background-color: black;
  }
}